.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.home_header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
}
.home_header a {
  margin-right: 20px;
  text-decoration: inherit;
  color: rgba(213, 212, 212, 0.87);
  font-size: 15px;
}
.home_header a:hover {
  text-decoration: underline;
}
.home_headerRight {
  display: flex;
  align-items: center;
  min-width: 13vw;
  justify-content: space-between;
  margin-right: 10px;
}
.home_headerRight > .MuiSvgIcon-root {
  margin-right: 20px;
}
.home_body img{
    display: flex;
  justify-content: column;
  padding-top:150px;
  width:20%;
   margin:auto;
}

#dust {
  position: absolute;
  width: 100%;
  top: 0;
}
.title {
  transform: scale(0);
  filter: blur(0px);
  font-family: "Libre Baskerville", serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
.title h1 > div{
  font-size: 2em;
  margin-top: 50px;
  opacity: 1;
  position: relative;
  color: #e3e3eb;
  font-weight: 400;
  text-align: center;
  margin-right: 10px;
  padding-bottom: 10px;
  display: inline-block;
  border-bottom: 3px solid #e3e3eb;
  letter-spacing: 10px;
}
.title h1 div  {
    position: relative;
    display: inline-block;
  }
  .title  h1 div div {
      display: block;
    }
  
    .title span {
    letter-spacing: normal;
    display: block;
    margin-bottom: 10px;
    font-size: 0.5em;
    font-style: italic;
    position: relative;
    z-index: 2;
  }
  .title  span ::after {
      content: "";
      width: 43%;
      height: 3px;
      border-radius: 5px;
      background: #e3e3eb;
      position: absolute;
      right: 0;
      z-index: 1;
      top: 0.5em;
      left: 0;

    }
    .title p {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
  margin-top: 14px;
  line-height: 1.2em;
  text-decoration: none;
}

/*ANimation stuff*/
.title {
  animation-name: zoomIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-direction: alternate;
  animation-iteration-count: 3;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.3);
    filter: blur(10px);
  }
  40% {
    transform: scale(1);
  }
  100% {
    filter: blur(0);
    transform: scale(1);
  }
}
